.contact-form-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contact-form {
    padding: 2rem;
    text-align: center;
}

.form-group {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: 2px solid #487de7;
}

.submit {
    width: 100%;
    margin-top: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
    background: #faeb36;
    /* background: linear-gradient(
        59deg,
        #e81416 14%,
        #ffa500 28%,
        #faeb36 42%,
        #79c314 56%,
        #487de7 70%,
        #4b369d 84%,
        #70369d 100%
    ); */
    z-index: 100;
}

.submit:hover {
    background: #ffa500;
    /* background: linear-gradient(
        59deg,
        #e81416 0%,
        #ffa500 20%,
        #faeb36 35%,
        #79c314 60%,
        #487de7 80%,
        #4b369d 100%,
        #70369d 100%
    ); */
}

.back {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
