/* Hero section */

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem;
    color: white;
}

.hero:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 60%;
    z-index: 10;
}

.homepage-title {
    font-size: 5rem;

    z-index: 100;
}

.flex-hero {
    position: relative;
    background-image: url("./images/background.jpg");
    display: flex;
    gap: 2rem;
}

.lumina-transparent {
    align-self: center;
    z-index: 100;
}

.homepage-title span:nth-child(7n + 6) {
    color: #e81416;
}
.homepage-title span:nth-child(7n + 5) {
    color: #ffa500;
}
.homepage-title span:nth-child(7n + 4) {
    color: #faeb36;
}
.homepage-title span:nth-child(7n + 3) {
    color: #79c314;
}
.homepage-title span:nth-child(7n + 2) {
    color: #487de7;
}
.homepage-title span:nth-child(7n + 1) {
    color: #4b369d;
}
.homepage-title span:nth-child(7n) {
    color: #70369d;
}

.homepage-subtitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    z-index: 100;
}

.homepage-description {
    line-height: 2.5rem;
    max-width: 900px;
    z-index: 100;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.homepage-signup-button {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #faeb36;
    /* background: linear-gradient(
        59deg,
        #e81416 14%,
        #ffa500 28%,
        #faeb36 42%,
        #79c314 56%,
        #487de7 70%,
        #4b369d 84%,
        #70369d 100%
    ); */
    z-index: 100;
}

.homepage-signup-button:hover {
    background: #ffa500;
    /* background: linear-gradient(
        59deg,
        #e81416 0%,
        #ffa500 20%,
        #faeb36 35%,
        #79c314 60%,
        #487de7 80%,
        #4b369d 100%,
        #70369d 100%
    ); */
}

/* Features Section */

.homepage-features-title {
    font-size: 2rem;
    margin-bottom: 3rem;
    z-index: 100;
    color: black;
}

.homepage-features {
    padding: 3rem;
}

/* Contact */

.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.homepage-contact {
    color: black;
    text-align: center;
    max-width: 500px;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #faeb36;
    /* background: linear-gradient(
        59deg,
        #e81416 14%,
        #ffa500 28%,
        #faeb36 42%,
        #79c314 56%,
        #487de7 70%,
        #4b369d 84%,
        #70369d 100%
    ); */
}

.homepage-contact:hover {
    background: #ffa500;
    /* background: linear-gradient(
        59deg,
        #e81416 0%,
        #ffa500 20%,
        #faeb36 35%,
        #79c314 60%,
        #487de7 80%,
        #4b369d 100%,
        #70369d 100%
    ); */
}
@media (max-width: 700px) {
    .hero {
        padding: 1.5rem;
    }
    .homepage-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .homepage-subtitle {
        font-size: 1.5rem;
    }

    .homepage-description {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .homepage-features-title {
        font-size: 1.5rem;
    }
}
